html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}

ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

* {
    box-sizing: border-box;
    max-width: 100%;
    /* border: 1px solid grey; */
}

/* General Styles */
html {
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    background-color: #8a9a5b;
    font-family: 'Source Code Pro', monospace;
    color: #383838;
}

main {
    background-image: linear-gradient(to top left, #505A35, #8a9a5b);
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    font-size: 4rem;
}

h1, h2 {
    color: rgb(211, 211, 211)
}

h3 {
    font-size: 2.5rem;
}

header, footer {
    background-color: #603956;
}

header a, .top a, .contact-me {
    background-color: #5B8A9A;
    padding: 0.5% 0;
    border: 2px solid #3a5963;
    border-radius: 12px;
    text-decoration: none;
    color: rgb(211, 211, 211);
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 2rem;
    transition: 0.75s;
}

a:hover {
    box-shadow: 5px 5px 15px 2px rgb(34, 34, 34);
    color: rgb(54, 54, 54);
}

section {
    padding: 2% 0;
}

/* Header */

header {
    padding: 0.1% 0;
    border-bottom: 4px solid #3f2539;
    background-image: linear-gradient(#3f2539, #603956);
}

h1 {
    margin: 1% 2%;
    padding: 0;
}

nav {
    margin: 1% 4%;
    display: flex;
}

nav a {
    margin-right: 2%;
    min-width: 10%;
    text-align: center;
    text-transform: uppercase;
}

/* Main */

.top {
    display: flex;
    justify-content: space-evenly;
}

.left img {
    border: 7px outset #8C894A;
    border-radius: 2px;
}

.right {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%
}

.right h2 {
    margin-bottom: 2%;
    font-size: 5rem;
    letter-spacing: 2px;
}

.right a {
    margin-right: 2%;
    width: 35%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.right p {
    margin-top: 3%;
    line-height: 1.5;
    width: 95%;
}

/* Project Images */

.thumbnails img {
    border: 3px solid #505A35;
    border-radius: 2px;
}
.top-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4%;
}

.bottom-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.thumbnails h3 {
    text-align: center;
    margin-top: 4%;
    font-style: italic;
}

/* Footer */

footer {
    padding: 2%;
    display: flex;
    justify-content: center;
    border-top: 4px solid #3f2539;
    background-image: linear-gradient(to top, #3f2539, #603956);
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

footer .contact-me {
    width: 35%;
    padding: 2% 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 2%;
}

footer div h2 {
    margin-bottom: 4%;
}

.linkedin {
    height: 32px;
    margin-top: 1%;
    transition: 0.75s;
    filter: brightness(78%);